
.text-center{
    text-align: center;
}

#videoContainer{
	position: fixed;
	left: 0px;
	top: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
	display: flex;
}

#callerVideo{
	position: fixed;
    min-width: 100%;
    min-height: 100%;
	border: 1px solid gray;
}

#selfVideo{
	position:fixed;
    right: 0px;
    bottom: 0px;
    width: 20%;
    height: 20%;
	border: 1px solid gray;
}

.panel-heading .panel-title:after {
	font-family: "FontAwesome";
    content: "\f056";
    float: right;
    color: grey;
}
.panel-heading .panel-title.collapsed:after {
	font-family: "FontAwesome";
    content: "\f055";
}

/*
#videos{
}

#callerVideo{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
	border: 1px solid gray;
}

#selfVideo{
    width: 20%;
    height: 20%;
    bottom: 0;
    position: fixed;
    right: 0;
	border: 1px solid gray;
}

#acceptCallBox
{
    display: none; 
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
	border: 1px solid gray;
    background-color: rgba(0,0,0,0.7); 
    text-align: center;
}

#acceptCallLabel {
	color: white;
	min-height: 60px;
}
*/
.button
{
	width: 60px;
}
